html {
    color: rgb(86, 86, 86);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.4;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@at-root {
    @-ms-viewport { width: device-width; }
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

h1, h2, h3, h4, ul, p {
    margin: 0;
    padding: 0;
}

a:focus {
    outline: none;
}

ul {
    list-style: none;
}

@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?hac3uh');
    src:    url('../fonts/icomoon.eot?hac3uh#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?hac3uh') format('truetype'),
        url('../fonts/icomoon.woff?hac3uh') format('woff'),
        url('../fonts/icomoon.svg?hac3uh#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
    content: "\f099";
}
.icon-facebook:before {
    content: "\f09a";
}
.icon-youtube:before {
    content: "\f16a";
}
.icon-instagram:before {
    content: "\f16d";
}
.icon-cc-visa:before {
    content: "\f1f0";
}
.icon-cc-mastercard:before {
    content: "\f1f1";
}
.icon-cc-discover:before {
    content: "\f1f2";
}
.icon-cc-amex:before {
    content: "\f1f3";
}
.icon-cc-paypal:before {
    content: "\f1f4";
}
.icon-pinterest:before {
    content: "\f231";
}
.icon-map-marker:before {
    content: "\f041";
}
.icon-phone:before {
    content: "\f095";
}
.icon-scissors:before {
    content: "\f0c4";
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.container {
    width: 1180px;
    margin: 0px auto;
}

@media only screen and (max-width: 1179px) {
    .container {
        width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.grid {
    margin-left: -1rem;
    margin-right: -1rem;
}

h1.sc-title {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    margin-bottom: 3rem;
    text-align: center;
    padding-top: 3rem;
    position: relative;
    text-transform: uppercase;
}

h1.sc-title::before {
    display: block;
    content: '';
    height: 3px;
    width: 50px;
    position: absolute;
    left: 50%;
    top: 0;
    /*top: 1rem;*/
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
    background: rgb(152, 152, 152);
}

header {
    text-align: center;
    margin-bottom: 2rem;
}

header .title {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    border-bottom: 1px solid rgb(240, 240, 240);
}

header .title h1 {
    /*font-family: 'Great Vibes', 'Tangerine', cursive;*/
    font-family: 'Roboto Condensed', 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1.7rem;
    color: rgb(0, 0, 0);
    line-height: 1;
}

header .sub {
    margin-bottom: 2rem;
}

header nav ul li {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Roboto Condensed', 'Roboto', sans-serif;
}

header nav ul li + li {
    margin-left: 4rem;
}

header nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    position: relative;
}

header nav ul li a::before {
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 50px;
    margin-left: -25px;
    display: block;
    content: '';
    background-color: rgb(0, 0, 0);
    height: 2px;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s
}

header nav ul li a:hover::before {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
}

@media only screen and (max-width: 400px) {
    header nav ul li {
        font-size: 0.9rem;
    }
    header nav ul li + li {
        margin-left: 0.3rem;
    }
}

@media only screen and (max-width: 580px) {
    header nav ul li + li {
        margin-left: 0.6rem;
    }
}

.slide {
    margin-bottom: 3rem;
}

.hero {
    height: 400px;
    overflow: hidden;
    position: relative;
}

.hero-image {
    background-size: cover;
    background-position: center center;
    background-repeat: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-1 .hero-image {
    background-image: url(../img/hero-01.jpg);
}

.welcome {
    text-align: center;
    margin-bottom: 2rem;
}

.welcome .container {
    width: 60%;
    margin: 0 auto;
}

.welcome h1 {
    font-size: 2rem;
    color: rgb(0, 0, 0);
    margin-bottom: 2rem;
}

.welcome p + p {
    margin-top: 2rem;
}

@media only screen and (max-width: 700px) {
    .welcome .container {
        width: 100%;
    }
}

.services .container {
    overflow: hidden;
}

.services .service {
    width: 25%;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
}

.services .service .photo {
    height: 180px;
    overflow: hidden;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: .333rem;
}

.services .service.nail .photo {
    background-image: url(../img/service-1.jpg);
}

.services .service.pedicure .photo {
    background-image: url(../img/service-2.jpg);
}

.services .service.manicure .photo {
    background-image: url(../img/service-3.jpg);
}

.services .service.waxing .photo {
    background-image: url(../img/service-4.jpg);
}

.services .service .content {
    color: rgb(28, 29, 33);
}

.services .service .content a {
    color: rgb(28, 29, 33);
    text-decoration: none;
}

.services .service .content a {
    color: rgb(28, 29, 33);
    text-decoration: none;
}

@media only screen and (max-width: 700px) {
    .services .service {
        width: 50%;
        margin-bottom: 2rem;
    }
}

.coupons .container {
    overflow: hidden;
}

.coupons h1 {
    text-align: center;
    margin-bottom: 2rem;
    color: rgb(0, 0, 0);
}

.coupons p {
    text-align: center;
    margin-bottom: 2rem;
}

.coupons .coupon {
    width: 25%;
    height: 100px;
    padding-left: 1rem;
    padding-right: 1rem;
    float: left;
    margin-bottom: 2rem;
}

.coupons .coupon-inner {
    border: 3px dashed #ccc;
    padding: 10px;
    height: 100%;
    position: relative;
}

.coupons .coupon-inner:before {
    content: "\f0c4";
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 1.5rem;
    position: absolute;
    left: 1.1rem;
    bottom: -0.75rem;
    background: rgb(255, 255, 255);
    z-index: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.coupons .coupon-inner div {
    text-align: center;
}

.coupons .coupon-inner .title {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
}

.coupons .coupon-inner .tos {
    color: rgb(152, 152, 152);
    font-size: 0.8rem;
}

@media only screen and (max-width: 579px) {
    .coupons .container {
        width: 275px;
        margin-right: auto;
        margin-left: auto;
    }

    .coupons .coupon {
        width: 100%;
    }
}

@media only screen and (min-width: 580px) and (max-width: 814px) {
    .coupons .container {
        width: 580px;
        margin-right: auto;
        margin-left: auto;
    }

    .coupons .coupon {
        width: 50%;
    }
}

@media only screen and (min-width: 815px) and (max-width: 1179px) {
    .coupons .container {
        width: 815px;
        margin-right: auto;
        margin-left: auto;
    }

    .coupons .coupon {
        width: 33.333333%;
    }
}

.service-detail {
    position: relative;
}

.service-detail + .service-detail {
    margin-top: 5rem;
}

.service-detail h1 {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    margin-bottom: 3rem;
    text-align: center;
    padding-top: 3rem;
    position: relative;
    text-transform: uppercase;
}

.service-detail h1::before {
    display: block;
    content: '';
    height: 3px;
    width: 50px;
    position: absolute;
    left: 50%;
    top: 0;
    /*top: 1rem;*/
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
    background: rgb(152, 152, 152);
}

.service-detail .photo {
    float: left;
    width: 48%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
}

.service-detail .content {
    margin-top: 2rem;
    float: right;
    width: 48%;
    background-color: rgb(250, 250, 250);
    padding: 2rem;
}

.service-detail.reversed .photo {
    float: right;
}

.service-detail.reversed .content {
    float: left;
}

.service-detail .content .item {
    position: relative;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgb(232, 232, 232);
    margin-bottom: 2rem;
}

.service-detail .content .item .s-price {
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
    font-size: 1.3rem;
    font-weight: 700;
}

.service-detail .content h2 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    margin-right: 3rem;
}

.service-detail .content ul + h2 {
    margin-top: 2rem;
}

.service-detail .content ul li {
    padding-bottom: 0.7rem;
    border-bottom: 1px solid rgb(232, 232, 232);
    margin-bottom: 0.7rem;
}

.service-detail .content ul li .s-title {
    display: block;
    float: left;
    width: 50%;
}

.service-detail .content ul li .s-price {
    display: block;
    float: right;
    width: 50%;
    text-align: right;
}

.service-detail.nail .photo {
    background-image: url(../img/service-1.jpg);
    height: 400px;
}

.service-detail.nail .content {
    min-height: 400px;
}

.service-detail.pedicure .photo {
    background-image: url(../img/service-2.jpg);
    height: 500px;
}

.service-detail.pedicure .content {
    min-height: 500px;
}

.service-detail.manicure .photo {
    background-image: url(../img/service-3.jpg);
    height: 500px;
}

.service-detail.manicure .content {
    min-height: 500px;
}

.service-detail.waxing .photo {
    background-image: url(../img/service-4.jpg);
    height: 400px;
}

.service-detail.waxing .content {
    min-height: 400px;
}

@media only screen and (max-width: 750px) {
    .service-detail .content, .service-detail .photo {
        float: none !important;
        width: 100%;
    }

    .service-detail .photo {
        height: 200px !important;
    }
}

@media only screen and (min-width: 750px) and (max-width: 970px) {
    .service-detail .content {
        width: 60%;
        z-index: 1;
        background-color: rgba(250, 250, 250, 0.8);
    }

    .service-detail .photo {
        position: absolute;
        left: 1rem;
        top: 8rem;
        width: 60%;
        z-index: -1;
        float: none;
    }

    .service-detail.reversed .photo {
        right: 1rem !important;
        left: auto;
    }
}

.gallery .photo {
    width: 25%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 2rem;
    float: left;
    height: 180px;
    overflow: hidden;
}

.gallery .photo .display img {
    width: 100%;
}

@media only screen and (max-width: 400px) {
    .gallery .photo {
        width: 100%;
    }
}

@media only screen and (min-width: 401px) and (max-width: 700px) {
    .gallery .photo {
        width: 50%;
    }
}

@media only screen and (min-width: 701px) and (max-width: 1000px) {
    .gallery .photo {
        width: 33.3333%;
    }
}

footer {
    margin-top: 6rem;
}

footer .nav {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(240, 240, 240);
}

footer .title {
    font-family: 'Roboto Condensed', 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 0.9rem;
    color: rgb(0, 0, 0);
    line-height: 1;
    display: block;
    width: 200px;
    float: left;
    text-transform: uppercase;
}

footer nav {
    float: right;
}

footer nav ul li {
    float: left;
    display: inline-block;
    font-weight: 700;
    font-size: 0.9rem;
    font-family: 'Roboto Condensed', 'Roboto', sans-serif;
    line-height: 1;
}

footer nav ul li + li {
    margin-left: 3rem;
}

footer nav ul li a {
    color: rgb(152, 152, 152);
    text-decoration: none;
    position: relative;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

footer nav ul li a::before {
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 50px;
    margin-left: -25px;
    display: block;
    content: '';
    background-color: rgb(0, 0, 0);
    height: 2px;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transition: -webkit-transform 0.2s;
    transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    transition: transform 0.2s, -webkit-transform 0.2s
}

footer nav ul li a:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

footer nav ul li a:hover::before {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
}

footer .last {
    margin-bottom: 2rem;
    font-size: .9rem;
    color: rgb(152, 152, 152);
}

footer .last .contact {
    float: left;
}

footer .last .payment {
    float: right;
}

@media only screen and (max-width: 495px) {
    footer nav ul li + li {
        margin-left: 0.2rem;
    }
}

@media only screen and (max-width: 750px) {
    footer nav ul li + li {
        margin-left: 1rem;
    }
}

@media only screen and (max-width: 920px) {
    footer .nav {
        text-align: center;
    }
    footer .title, footer nav {
        float: none;
        width: 100%;
    }

    footer .title {
        margin-bottom: 1rem;
    }

    footer nav ul li {
        float: none;
    }
}

@media only screen and (max-width: 700px) {
    footer .last {
        text-align: center;
    }

    footer .last .contact, footer .last .payment {
        float: none;
        width: 100%;
    }

    footer .last .contact {
        margin-bottom: 1rem;
    }
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */



@media only screen and (min-width: 320px) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
